@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.image-container::before {
    content: "";
    background-color: aquamarine;
    width: 250px;
    height: 180px;
    position: absolute;
    left: 40%;
    top: -12%;
    z-index: -100;
}